@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(25px) scale(.97);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }
}

/* موبایل */

@media (max-width: 480px) {

    .password-box {
        padding: 40px 22px;
        border-radius: 28px;
    }

    .password-box h1 {
        font-size: 38px;
    }

    .password-box p {
        font-size: 18px;
    }

    .gift-content {
        padding: 45px 22px;
    }

    .gift-content h2 {
        font-size: 38px;
    }

    .gift-content p {
        font-size: 18px;
    }
}
